@model AStore_Web.Models.VM.ProductImage.ProImgCreateVM

@{
    ViewData["Title"] = "Create Product Image";
}

<h2>Create Product Image</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="ImageFile" class="control-label"></label>
        <input asp-for="ImageFile" class="form-control" type="file" multiple />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Pro.Product_id" />
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
