<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>Home Page</title>
	<link rel="icon" type="image/png" sizes="64x64" href="~/asset/img/favicon.png">
	<link rel="stylesheet" href="~/asset/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="~/asset/css/lightgallery-bundle.css">
	<link rel="stylesheet" href="~/asset/css/header-footer.css">
	<link rel="stylesheet" href="~/asset/css/home.css">
</head>
<body>
	<div class="header">
		<div class="header-top text-grayscale-700 b-b-200">
			<span class="f-w-500">Pre-Opening Super F.Studio by FPT</span>-
			Sự kiện không thể bỏ lỡ.<a class="link-desc m-l-4">Xem chi tiết ></a>
		</div>
		<div class="header-body">
			<div class="container flex-center">
				<div class="header-logo"><a href=""><img src="~/asset/img/logo-fstu-aar.png" alt="logo"></a></div>
				<div class="header-search">
					<form>
						<div class="form-group">
							<div class="form-search form-search-sm">
								<span class="form-search-icon m-r-4">
									<i class="ic-search ic-sm"></i>
								</span><input class="form-search-input m-r-8" type="text"
											  placeholder="Bạn đang tìm sản phẩm, tin tức, workshop..."><span class="form-search-icon form-search-clear"><i class="ic-close-thin ic-sm"></i></span>
							</div>
							<div class="suggest__box">
								<div class="suggest__history">
									<div class="suggest__box-panel">
										<span class="suggest__box-tit">Lịch sử tìm kiếm</span><span class="suggest__box-delete link">Xoá</span>
									</div>
									<ul class="suggest__list">
										<li class="suggest__list-item"><a class="suggest__list-link block" href="">ốp lưng iphone</a></li>
										<li class="suggest__list-item"><a class="suggest__list-link block" href="">Macbook</a></li>
										<li class="suggest__list-item"><a class="suggest__list-link block" href="">Iphone</a></li>
									</ul>
								</div>
								<div class="suggest__result">
									<div class="suggest__result-link space-bottom">
										<ul class="suggest__list">
											<li class="suggest__list-item"><a class="suggest__list-link block" href="">macbook pro</a></li>
											<li class="suggest__list-item">
												<a class="suggest__list-link block" href="">macbook pro m1</a>
											</li>
											<li class="suggest__list-item">
												<a class="suggest__list-link block" href="">mac book m1 2020</a>
											</li>
										</ul>
									</div>
									<div class="suggest__result-cate space-bottom">
										<ul class="suggest__list">
											<li class="suggest__list-item">
												<a class="suggest__list-link block" href="">
													<span class="sub-cate">MacBook Pro</span><span class="sub-cate-txt">trong</span><span class="sub-cate-strong highlightText">Mac</span>
												</a>
											</li>
											<li class="suggest__list-item">
												<a class="suggest__list-link block" href="">
													<span class="sub-cate">MacBook Pro</span><span class="sub-cate-txt">trong</span><span class="sub-cate-strong highlightText">Mac</span>
												</a>
											</li>
											<li class="suggest__list-item">
												<a class="suggest__list-link block" href="">
													<span class="sub-cate">MacBook Pro</span><span class="sub-cate-txt">trong</span><span class="sub-cate-strong highlightText">Mac</span>
												</a>
											</li>
										</ul>
									</div>
									<div class="suggest__result-product">
										<div class="suggest__box-panel suggest__result-panel">
											<span class="suggest__box-tit suggest__result-tit">Sản phẩm được tìm nhiều</span>
										</div>
										<ul class="suggest__list">
											<li class="suggest__list-item suggest-shadow">
												<a class="suggest__list-link sg__product" href="">
													<picture class="sg__product-img"><img src="" alt="product"></picture>
													<div class="sg__product-info">
														<h3 class="suggest__list-name sg__product-name fs-p-16">
															<em>MacBook Pro 13" 2020</em>
															Touch Bar M1 256GB
														</h3>
														<div class="sg__product-price fs-p-16">
															<span class="price">20.990.000</span><span class="price-old">48.690.000</span>
														</div>
													</div>
												</a>
											</li>
											<li class="suggest__list-item suggest-shadow">
												<a class="suggest__list-link sg__product" href="">
													<picture class="sg__product-img"><img src="" alt="product"></picture>
													<div class="sg__product-info">
														<h3 class="suggest__list-name sg__product-name fs-p-16">
															<em>MacBook Pro 13" 2020</em>
															Touch Bar M1 256GB
														</h3>
														<div class="sg__product-price fs-p-16">
															<span class="price">20.990.000</span><span class="price-old">48.690.000</span>
														</div>
													</div>
												</a>
											</li>
											<li class="suggest__list-item suggest-shadow">
												<a class="suggest__list-link sg__product" href="">
													<picture class="sg__product-img"><img src="" alt="product"></picture>
													<div class="sg__product-info">
														<h3 class="suggest__list-name sg__product-name fs-p-16">
															<em>MacBook Pro 13" 2020</em>
															Touch Bar M1 256GB
														</h3>
														<div class="sg__product-price fs-p-16">
															<span class="price">20.990.000</span><span class="price-old">48.690.000</span>
														</div>
													</div>
												</a>
											</li>
										</ul>
									</div>
									<div class="suggest__result-news">
										<div class="suggest__box-panel suggest__result-panel">
											<span class="suggest__box-tit suggest__result-tit">Bài viết được tìm nhiều</span>
										</div>
										<ul class="suggest__list suggest__list">
											<li class="suggest__list-item suggest-shadow">
												<div class="suggest__news-info suggest__list-link">
													<h3 class="suggest__list-name fs-p-16 highlightText">
														<a href>
															MacBook Air M2 và <em>
																MacBook
																Pro M2
															</em>: Cùng tầm giá đâu là lựa chọn phù hợp dành cho bạn
														</a>
													</h3><a class="badge badge-grayscale badge-xs" href>Tin mới</a>
												</div>
											</li>
											<li class="suggest__list-item suggest-shadow">
												<div class="suggest__news-info suggest__list-link">
													<h3 class="suggest__list-name fs-p-16 highlightText">
														<a href>
															MacBook Air M2 và <em>
																MacBook
																Pro M2
															</em>: Cùng tầm giá đâu là lựa chọn phù hợp dành cho bạn
														</a>
													</h3><a class="badge badge-grayscale badge-xs" href>Tin mới</a>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="header-user">
					<a>
						<div class="user-info flex text-grayscale-300">
							<span class="form-cart-icon m-r-8">
								<i class="ic-user-2"></i>
							</span>
							<div class="f-s-ui-14">VIP Member</div>
						</div>
					</a>
				</div>
				<div class="header-cart">
					<a>
						<div class="c-cart">
							<span class="form-cart-icon m-r-8">
								<span class="count">1</span><i class="ic-cart"></i>
							</span>
							<div class="f-s-ui-14">Giỏ hàng</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="header-bot">
			<div class="container">
				<div class="header-item">
					<ul class="flex text-center">
						<li><a>iPhone</a></li>
						<li><a>iPad</a></li>
						<li><a>Mac</a></li>
						<li><a>Apple Watch</a></li>
						<li><a>Phụ kiện</a></li>
						<li><a>Tin tức - Thủ thuật</a></li>
						<li><a>Workshop</a></li>
						<li><a>Khuyến mãi</a></li>
					</ul>
					<div class="header-btn">
						<a class="btn btn-link btn-icon btn-sm">
							<i class="ic-call btn-icon-call m-r-4"></i><span class="f-s-ui-14">Gọi 1800 6601</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="over-suggestion"></div>
	@RenderBody()
	<div class="footer">
		<section class="section__module section__gallery">
			<div class="section__module-inner">
				<div class="section__module-title">
					<p class="text-center">Hình ảnh hệ thống F.Studio</p>
				</div>
				<div class="swiper slideGallery">
					<div class="swiper-wrapper" id="animated-thumbnails-gallery">
						<div class="swiper-slide" data-src="~/asset/img/gallery1.png">
							<img src="~/asset/img/gallery1.png"
								 alt="Hình ảnh hệ thống F.Studio">
						</div>
						<div class="swiper-slide" data-src="~/asset/img/gallery1.png">
							<img src="~/asset/img/gallery1.png"
								 alt="Hình ảnh hệ thống F.Studio">
						</div>
						<div class="swiper-slide" data-src="~/asset/img/gallery1.png">
							<img src="~/asset/img/gallery1.png"
								 alt="Hình ảnh hệ thống F.Studio">
						</div>
						<div class="swiper-slide" data-src="~/asset/img/gallery1.png">
							<img src="~/asset/img/gallery1.png"
								 alt="Hình ảnh hệ thống F.Studio">
						</div>
						<div class="swiper-slide" data-src="~/asset/img/gallery1.png">
							<img src="~/asset/img/gallery1.png"
								 alt="Hình ảnh hệ thống F.Studio">
						</div>
					</div>
					<div class="swiper-button-next sw-btn-next"><i class="ic-angle-right sw-icon"></i></div>
					<div class="swiper-button-prev sw-btn-prev"><i class="ic-angle-left sw-icon"></i></div>
				</div>
			</div>
		</section>
		<div class="footer-top">
			<div class="container">
				<ul class="key-selling-point">
					<li>
						<img src="~/asset/img/like.png" alt="like-icon">
						<div class="group-text">
							<div class="title">Thương hiệu đảm bảo</div>
							<div class="desc">Sản phẩm chính hãng Apple </div>
						</div>
					</li>
					<li>
						<img src="~/asset/img/shield.png" alt="shield-icon">
						<div class="group-text">
							<div class="title">Bảo hành chính hãng</div>
							<div class="desc">Bảo hành theo chính sách Apple</div>
						</div>
					</li>
					<li>
						<img src="~/asset/img/deli.png" alt="deli-icon">
						<div class="group-text">
							<div class="title">Giao hàng tận nơi</div>
							<div class="desc">Tại 63 tỉnh thành</div>
						</div>
					</li>
					<li>
						<img src="~/asset/img/crown.png" alt="crown-icon">
						<div class="group-text">
							<div class="title">Trải nghiệm Premium</div>
							<div class="desc">Không gian trải nghiệm cao cấp</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-middle">
			<div class="container">
				<div class="footer-form b-b-600">
					<div class="text">Đăng ký ngay để nhận thông tin mới nhất về Apple</div>
					<div class="footer-search">
						<form>
							<div class="form-group">
								<input class="form-input" type="text" placeholder="Nhập email của bạn tại đây">
							</div><a class="btn btn-link">Đăng ký</a>
							<div class="form-status">
								<div class="text-error">Email không hợp lệ</div>
								<div class="text-success">Đăng ký thành công!</div>
							</div>
						</form>
					</div>
				</div>
				<div class="footer-content">
					<div class="footer-info">
						<div class="hotline">
							<div class="item">
								<div class="text">Giao hàng miễn phí</div><a class="phone" href="tel:18006601">1800 6601 </a>
							</div>
							<div class="item">
								<div class="text">Chăm sóc khách hàng</div><a class="phone" href="tel:18006601">1800 6616 </a>
							</div>
						</div>
						<div class="service">
							<div class="text">Dịch vụ và hỗ trợ:</div>
							<ul>
								<li>HCM: 121 Lê Lợi, Phường Bến Nghé, Quận 1, TP.HCM</li>
								<li>Hà Nội: 92 Hai Bà Trưng, P. Cửa Nam, Q. Hoàn Kiếm, TP. Hà Nội</li>
								<li>Đà Nẵng: 240 Hoàng Diệu, Q. Hải Châu, TP. Đà Nẵng</li>
								<li>Cần Thơ: 52 - 54 - 56 Đường 30/4, P. An Phú, Q. Ninh Kiều, Cần Thơ</li>
							</ul>
						</div>
						<div class="img"><img src="~/asset/img/item.png" alt="item-footer"></div>
					</div>
					<div class="footer-category">
						<div class="category-item">
							<div class="title">Sản phẩm</div>
							<ul>
								<li> <a class="link">iPhone</a></li>
								<li> <a class="link">iPad</a></li>
								<li> <a class="link">Mac</a></li>
								<li> <a class="link">Apple Watch</a></li>
								<li> <a class="link">Phụ kiện</a></li>
							</ul>
						</div>
						<div class="category-item">
							<div class="title">Chính sách</div>
							<ul>
								<li> <a class="link">Chính sách bảo mật</a></li>
								<li> <a class="link">Chính sách đổi trả sản phẩm</a></li>
								<li> <a class="link">Chính sách bảo hành</a></li>
								<li> <a class="link">Chính sách giao nhận</a></li>
								<li> <a class="link">Chính sách thanh toán</a></li>
							</ul>
						</div>
						<div class="category-item">
							<div class="title">Về chúng tôi</div>
							<ul>
								<li> <a class="link">Giới thiệu</a></li>
								<li> <a class="link">Tin tức - Thủ thuật</a></li>
								<li> <a class="link">Hệ thống cửa hàng</a></li>
								<li> <a class="link">Câu hỏi thường gặp</a></li>
								<li> <a class="link">Hướng dẫn mua hàng</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<p>
					Copyright 2007 - 2022 Công Ty Cổ Phần Bán Lẻ Kỹ Thuật Số FPT. GPĐKKD số 0311609355 do Sở KHĐT TP.HCM cấp
					ngày
				</p>
				<p>08/03/2012. GP số 48/GP-TTĐT do sở TTTT TP HCM cấp ngày 02/07/2018. Người quản lý nội dung: Vũ Đức Hải</p>
				<p>Apple, the Apple logo are trademark of Apple inc, registered in the US, and other countries</p>
			</div>
		</div>
	</div>
	<script src="~/asset/js/bootstrap.bundle.min.js"></script>
	<script src="~/asset/js/header-footer.js"></script>
	<script src="~/asset/js/swiper-bundle.min.js"></script>
	<script src="~/asset/js/home.1.js"></script>
	<script src="~/asset/js/category.1.js"></script>
	<script src="~/asset/js/modal.js"></script>
	<script src="~/asset/js/detail.1.js">
		< script src = "~/asset/js/cart.2.js" >
	</script>
	<script src="~/asset/js/cart.3.js"></script>
	<script src="~/asset/js/detail.3.js"></script>
	<script src="~/asset/js/util.js"></script>
	<script src="~/asset/js/dropdown.js"></script>
	<script src="~/asset/js/jquery-3.6.0.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
