<main class="main">
    <section class="section-wrap home-page">
        <section class="section-module section__banner">
            <div class="swiper slideBanner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="https://swiperjs.com/demos/images/nature-1.jpg"></div>
                    <div class="swiper-slide"><img src="https://swiperjs.com/demos/images/nature-2.jpg"></div>
                    <div class="swiper-slide"><img src="https://swiperjs.com/demos/images/nature-3.jpg"></div>
                </div>
                <div class="swiper-button-next sw-btn-next"><i class="ic-angle-right sw-icon"></i></div>
                <div class="swiper-button-prev sw-btn-prev"><i class="ic-angle-left sw-icon"></i></div>
            </div>
            <div class="swiper-pagination sw-indicator"></div>
        </section>
        <section class="section-module section__cate">
            <div class="container">
                <div class="home__cate flex">
                    <div class="cate__item">
                        <a href>
                            <div class="cate__item-title">iPhone</div>
                            <div class="cate__item-img"><img src="assets/img/iphone.png" alt="iPhone"></div>
                            <div class="cate__item-btn">
                                <div class="cate__item-link"><span>Khám phá ngay</span><i class="ic-angle-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div class="cate__item">
                        <a href>
                            <div class="cate__item-title">iPad</div>
                            <div class="cate__item-img"><img src="assets/img/ipad.png" alt="iPad"></div>
                            <div class="cate__item-btn">
                                <div class="cate__item-link"><span>Khám phá ngay</span><i class="ic-angle-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div class="cate__item">
                        <a href>
                            <div class="cate__item-title">Mac</div>
                            <div class="cate__item-img"><img src="assets/img/mac.png" alt="Mac"></div>
                            <div class="cate__item-btn">
                                <div class="cate__item-link"><span>Khám phá ngay</span><i class="ic-angle-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div class="cate__item">
                        <a href>
                            <div class="cate__item-title">Apple Watch</div>
                            <div class="cate__item-img"><img src="assets/img/Apple-watch.png" alt="Apple Watch"></div>
                            <div class="cate__item-btn">
                                <div class="cate__item-link"><span>Khám phá ngay</span><i class="ic-angle-right"></i></div>
                            </div>
                        </a>
                    </div>
                    <div class="cate__item">
                        <a href>
                            <div class="cate__item-title">Phụ kiện</div>
                            <div class="cate__item-img"><img src="assets/img/airtag.png" alt="Phụ kiện"></div>
                            <div class="cate__item-btn">
                                <div class="cate__item-link"><span>Khám phá ngay</span><i class="ic-angle-right"></i></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-module section__news">
            <div class="container">
                <div class="section__page-inner">
                    <div class="row">
                        <div class="col-6 col-item">
                            <div class="card">
                                <div class="card-img">
                                    <picture><img src="assets/img/workshop.png" alt="Workshop Tháng 7"></picture><a class="badge badge-link badge-md card-badge" href>Workshop</a>
                                </div>
                                <div class="card-info text-center">
                                    <a href>
                                        <div class="card-info-title">Workshop Tháng 7</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-item">
                            <div class="card">
                                <div class="card-img">
                                    <picture><img src="assets/img/ios.png" alt="iOS 16 beta 3 có gì mới?"></picture><a class="badge badge-link badge-md card-badge" href>Sự kiện</a>
                                </div>
                                <div class="card-info text-center">
                                    <a href>
                                        <div class="card-info-title">iOS 16 beta 3 có gì mới?</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-item">
                            <div class="card">
                                <div class="card-img">
                                    <picture><img src="assets/img/loyaty.png" alt="FPT Loyalty Network"></picture><a class="badge badge-link badge-md card-badge" href>Ưu đãi khách hàng</a>
                                </div>
                                <div class="card-info text-center">
                                    <a href>
                                        <div class="card-info-title">FPT Loyalty Network</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-item">
                            <div class="card">
                                <div class="card-img">
                                    <picture>
                                        <img src="assets/img/support.png"
                                             alt="Hướng dẫn thanh toán trên trang F.StudioHướng dẫn thanh toán trên trang F.StudioHướng dẫn thanh toán trên trang F.Studio">
                                    </picture><a class="badge badge-link badge-md card-badge" href>Dịch vụ và Hỗ trợ</a>
                                </div>
                                <div class="card-info text-center">
                                    <a href>
                                        <div class="card-info-title">
                                            Hướng dẫn thanh toán trên trang F.StudioHướng dẫn thanh toán trên
                                            trang F.StudioHướng dẫn thanh toán trên trang F.Studio
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="social-media"><a href=""><img src="assets/img/fb-icon.png" alt="fb-icon"></a></div>
        <section class="section__module section__gallery">
            <div class="section__module-inner">
                <div class="section__module-title">
                    <p class="text-center">Hình ảnh hệ thống F.Studio</p>
                </div>
                <div class="swiper slideGallery">
                    <div class="swiper-wrapper" id="animated-thumbnails-gallery">
                        <div class="swiper-slide" data-src="assets/img/gallery1.png">
                            <img src="assets/img/gallery1.png"
                                 alt="Hình ảnh hệ thống F.Studio">
                        </div>
                        <div class="swiper-slide" data-src="assets/img/gallery1.png">
                            <img src="assets/img/gallery1.png"
                                 alt="Hình ảnh hệ thống F.Studio">
                        </div>
                        <div class="swiper-slide" data-src="assets/img/gallery1.png">
                            <img src="assets/img/gallery1.png"
                                 alt="Hình ảnh hệ thống F.Studio">
                        </div>
                        <div class="swiper-slide" data-src="assets/img/gallery1.png">
                            <img src="assets/img/gallery1.png"
                                 alt="Hình ảnh hệ thống F.Studio">
                        </div>
                        <div class="swiper-slide" data-src="assets/img/gallery1.png">
                            <img src="assets/img/gallery1.png"
                                 alt="Hình ảnh hệ thống F.Studio">
                        </div>
                    </div>
                    <div class="swiper-button-next sw-btn-next"><i class="ic-angle-right sw-icon"></i></div>
                    <div class="swiper-button-prev sw-btn-prev"><i class="ic-angle-left sw-icon"></i></div>
                </div>
            </div>
        </section>
    </section>
</main>